# Explicitly ignore bin and obj folders (recursive)
**/bin/
**/obj/
bin/
obj/

# Published output
publish/

# Visual Studio cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Update info
update_info.json